p {
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: bold;
}

h2 {
  color: #fdc316 !important;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media all and (max-width: 991px) {
  .carter-titles {
    font-size: 10vw;
  }

  .hamburguer-titles {
    font-size: 6vw;
  }
}

@media all and (min-width: 992px) and (max-width: 1400px) {
  .carter-titles {
    font-size: 5vw;
  }

  .hamburguer-titles {
    font-size: 2vw;
  }
}

@media all and (min-width: 1401px) {
  .carter-titles {
    font-size: 4vw;
  }

  .hamburguer-titles {
    font-size: 1vw;
  }
}
